global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'spring-boot'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['gateway:8080']
        labels:
          application: 'medical-backend'

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
